<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="SecretKey" value="Wju7wvER2kXTF0vjAlxDzAolO9Qgkn5rgqGjds6vqH399chcUaiMkqfK7602kbl6"/>
    <add key="RsaPublicKey" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAp4y4esnQ3FTYuVJO47HJ
KkiuGgaqM5Hl/0TNZYDtTVZl6XH0+VaQqrN/KO7beaXSU3I2G2s19Ehl8X9BaMzq
Qr9QsCxUGeBMSVyPxM33EfkoPf3t9F7G+o+CUezeMTUjuDCX4E9qe+XzwsdADifH
UcVoleF1W/vvCOIRDwrNZRhfi0p9Mlt/4gVNO/In6uu8Zcv89TW+tJdwbzRWfo0K
BblQ9OQKmBlI6mVvcLd44v1QlbXBRJARVuF9lBo4DyClfG+jQEuFgriw+MeV7GcQ
tMJodPNgbPt9z8biWfAHaO0dmGmuWaEX497oHmAZSeI15rG2/4f53i0Y3206gWpp
TQIDAQAB"/>
	  <!--服务端参数-->
    <add key="ApiBaseUrl" value="http://172.16.22.7:8090/prod-api"/>
    <add key="TokenEndpoint" value="/sso/login"/>
    <add key="HeartbeatEndpoint" value="/api/heartbeat/sendHeartbeat"/>
    <add key="WebAppUrl" value="http://172.16.22.7:8090/criticalPocess?ssoCode="/>
	<add key="HomeUrl" value="http://172.16.22.7:8090/index?ssoCode="/>
	<!--区分门诊和住院 1是门诊、2是住院-->
	  <add key="ClientType" value="1"/>
	  <!--1、是医生 2是护士 3是医技-->
	  <add key="NatureType" value="1"/>  
	  <add key="UpdateCheckUrl" value="http://172.16.22.7:8090/prod-api/critical/versions/getInfoUpdate"/>
	  <!-- <add key="UpdateCheckUrl" value="D:\UpdateTest\version.json"/>-->
	  <add key="UpdaterExecutableName" value="Updater.exe"/>
	  <add key="ClientSettingsProvider.ServiceUri" value=""/>
      <add key="ReminderInterval" value="60000"/> <!-- 提醒间隔，单位：毫秒，默认为10分钟 -->	  
	  
	  <!--CA参数-->
	  <!--日志保存路径-->
	  <add key="LogPath" value="C:\\Appsoft\\Calog\\"/>
	  <!--日志记录级别 0、不记录日志，1、记录错误日期，2、记录警告日志，3、普通日志，4、出入参日志-->
	  <add key="LogLever" value="4"/>
	  <!--查询数据数据库连接-->
	  <!--add key = "Conn" value="Provider=msdaora;Data Source=his;User Id=rbzf;Password=DE12BA" /-->
	  <add key="Conn" value="User Id=rbzf;Password=DE12BA;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST= 172.16.2.28)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=his)))"/>
	  <!--提示框标题-->
	  <add key="BoxTitle" value="中联软件"/>
	  <!--End-->
	  <!--医护端签名参数-->
	  <!--CA服务端地址-->
	  <add key="Url" value="http://172.16.2.47:10201/coss/service/v1/"/>
	  <!--APPID-->
	  <add key="AppID" value="APP_9CAE9875B346410399FD3F29B05F952B"/>
	  <!--密钥-->
	  <add key="Key" value="OWU0NjE2YzY1ZWNkNGZhYTkzOTQyZmFiZDA4YzNkNWM="/>
	  <!--免验证签名有效时间，单位：分钟-->
	  <add key="exemptTime" value="720"/>
	  <!--时效签有效时间，单位：秒，最大 86400 ，即24小时-->
	  <add key="TimeRegion" value="43200"/>
	  <!--认证签名有效时间，单位：分钟，最大 4320 ，即3天-->
	  <add key="ExpiryDate" value="3"/>
	  <!--是否自动开启免验签 0、不开启，需要手工选择，1、自动开启，2、不使用免验签-->
	  <add key="autoSign" value="0"/>
	  <!--可以使用的证书类型，0、都使用，1、KEY证书，2、APP证书-->
	  <add key="certType" value="0"/>
	  <!--End-->	  
	  
	  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
